#smallerEmailText {
    font-size: 14px;
}

#smallerFontFooterEmail {
    font-size:11px;
}

@media only screen and (max-width: 1200px) {
    #smallerFontFooterEmail {
        font-size:10px;
    }    
}

